# Supabase Database URLs
# Gunakan Pgbouncer URL untuk DATABASE_URL jika ingin connection pooling, 
# dan DIRECT_URL untuk migrasi direct ke DB.
DATABASE_URL="postgresql://postgres:[password]@[host]:5432/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres:[password]@[host]:5432/postgres"
